@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  width: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 100%;
}

.entete {
  position: relative;
}

.entete__logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.entete__logo a {
  position: absolute;
  top: 30%;
  left: 15px;
  font-size: 1.5em;
}

.french {
  max-width: 100%;
  background: #f6f6f6;
  padding-bottom: 10px;
}

.french__bg {
  position: relative;
  max-width: 100%;
}

.french__bg--top {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f6f6f6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  padding: 20px 0 20px 0;
}

.french__bg--top h2 {
  font-family: "shrikhand", cursive;
  margin-left: 15px;
}

.french__bg--top .heart {
  margin-right: 18px;
  font-size: 1.4em;
}

.french__bg--top .heart .heart-vide {
  position: absolute;
  bottom: 25px;
  right: 35px;
  width: 23px;
  height: 23px;
  font-size: 1.2em;
}

.french__bg--top .heart .heart-vide {
  z-index: 400;
}

.french__bg--top .heart .heart-plein {
  position: absolute;
  bottom: 25px;
  right: 33px;
  width: 25px;
  height: 23px;
  font-size: 1.2em;
  z-index: 200;
  background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.french__bg--top .heart .heart-cache {
  position: absolute;
  bottom: 25px;
  right: 30px;
  width: 30px;
  height: 23px;
  font-size: 1.2em;
  z-index: 300;
  background: #f6f6f6;
}

.french__bg--top .heart:hover > .heart-cache {
  -webkit-animation: monte 2s linear 0s;
          animation: monte 2s linear 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.french__bg img {
  width: 100%;
  height: 310px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 60%;
     object-position: center 60%;
}

/* Progression heart */
@-webkit-keyframes monte {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(0, -21px);
            transform: translate(0, -21px);
  }
}
@keyframes monte {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(0, -21px);
            transform: translate(0, -21px);
  }
}

.menus {
  width: 95%;
  margin: auto;
}

.menus .entrees {
  opacity: 0;
  -webkit-animation: fadein 3s linear 4s forwards;
          animation: fadein 3s linear 4s forwards;
}

.menus .entrees h2 {
  width: 10%;
  border-bottom: 2px solid #99E2D0;
}

.menus .entrees__bloc {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: white;
  margin: 15px 5px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px #dddddd;
          box-shadow: 0 5px 15px #dddddd;
  overflow: hidden;
}

.menus .entrees__bloc--titre {
  width: 100%;
  padding: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menus .entrees__bloc--titre h3, .menus .entrees__bloc--titre p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menus .entrees__bloc--titre span {
  margin-right: 10px;
}

.menus .entrees__bloc--prix {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.menus .entrees__bloc--prix span {
  font-weight: bold;
}

.menus .entrees__bloc--icone {
  position: absolute;
  right: -100px;
  opacity: 0;
  visibility: hidden;
  width: 102px;
  height: 102px;
  padding: 32px;
  font-size: 1.4em;
  background-color: #99E2D0;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transition: opacity 3s, visibility 4s, right 2s;
  transition: opacity 3s, visibility 4s, right 2s;
}

.menus .entrees__bloc--titre:hover + .entrees__bloc--icone {
  position: relative;
  right: 0;
  visibility: visible;
  opacity: 1;
}

.menus .entrees__bloc:hover .icone {
  -webkit-animation: icone 1s linear 0.3s forwards;
          animation: icone 1s linear 0.3s forwards;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes icone {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes icone {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.container {
  width: 100%;
}

.container__button {
  text-align: center;
  padding: 40px;
  background: #f6f6f6;
}

.container__button--order {
  width: 200px;
  -webkit-box-shadow: 0 5px 15px #b5b5b5;
          box-shadow: 0 5px 15px #b5b5b5;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 20px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  border: none;
  cursor: pointer;
  -webkit-animation: pulse 1.7s ease-in-out infinite;
          animation: pulse 1.7s ease-in-out infinite;
}

.container__button--order:hover {
  -webkit-box-shadow: 0 5px 15px #9b9b9b;
          box-shadow: 0 5px 15px #9b9b9b;
  background: #ff83dd;
}

@media screen and (min-width: 1024px) {
  .menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menus .entrees {
    width: 380px;
  }
  .menus .entrees__bloc {
    width: 380px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .menus .entrees__bloc--titre {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 1024px) {
  .menus .entrees__bloc {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .menus .entrees__bloc {
    width: 100%;
  }
}
/*# sourceMappingURL=french.css.map */