@charset "UTF-8";
/* effet éclaircissement du bouton principal au hover */
/********************* couleurs et texte******************************************
             primaire #9356DC secondaire #FF79DA tertiaire #99E2D0
                           Texte Roboto
**********************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  position: relative;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.global {
  max-width: 1440px;
  margin: 0 auto;
}

/* Action de déplacer l'élément masquant le coeur plein vers le haut, donner effet de remplissage */
/* savoir créer une map*/
/* l'appel dans scss map-get($colour, primaire) on obtient la valeur; idéal dans une mixin*/
/* équivalent foreach ($colour as $letter=>$letter-color)*/
.letter-primaire {
  color: #9356DC;
}

.letter-secondaire {
  color: #FF79DA;
}

.letter-tertiaire {
  color: #99E2D0;
}

.page h2 span:nth-child(n+1) {
  content: "";
}
@keyframes trans {
  from {
    transform: translate(0, -3px);
  }
  to {
    transform: translate(0, 2px);
  }
}

.page h2 span:nth-child(n+1) {
  content: "";
  animation: trans 0.5s cubic-bezier(0.91, 0.42, 0.18, 1);
}

.page h2 span:nth-child(n+2) {
  content: "";
}
@keyframes trans {
  from {
    transform: translate(0, -6px);
  }
  to {
    transform: translate(0, 4px);
  }
}

.page h2 span:nth-child(n+2) {
  content: "";
  animation: trans 1s cubic-bezier(0.91, 0.42, 0.18, 1);
}

.page h2 span:nth-child(n+3) {
  content: "";
}
@keyframes trans {
  from {
    transform: translate(0, -9px);
  }
  to {
    transform: translate(0, 6px);
  }
}

.page h2 span:nth-child(n+3) {
  content: "";
  animation: trans 1.5s cubic-bezier(0.91, 0.42, 0.18, 1);
}

.page h2 span:nth-child(n+4) {
  content: "";
}
@keyframes trans {
  from {
    transform: translate(0, -12px);
  }
  to {
    transform: translate(0, 8px);
  }
}

.page h2 span:nth-child(n+4) {
  content: "";
  animation: trans 2s cubic-bezier(0.91, 0.42, 0.18, 1);
}

.page h2 span:nth-child(n+5) {
  content: "";
}
@keyframes trans {
  from {
    transform: translate(0, -15px);
  }
  to {
    transform: translate(0, 10px);
  }
}

.page h2 span:nth-child(n+5) {
  content: "";
  animation: trans 2.5s cubic-bezier(0.91, 0.42, 0.18, 1);
}

.page h2 span:nth-child(n+6) {
  content: "";
}
@keyframes trans {
  from {
    transform: translate(0, -18px);
  }
  to {
    transform: translate(0, 12px);
  }
}

.page h2 span:nth-child(n+6) {
  content: "";
  animation: trans 3s cubic-bezier(0.91, 0.42, 0.18, 1);
}

.page h2 span:nth-child(n+7) {
  content: "";
}
@keyframes trans {
  from {
    transform: translate(0, -21px);
  }
  to {
    transform: translate(0, 14px);
  }
}

.page h2 span:nth-child(n+7) {
  content: "";
  animation: trans 3.5s cubic-bezier(0.91, 0.42, 0.18, 1);
}

.page h2 span:nth-child(n+8) {
  content: "";
}
@keyframes trans {
  from {
    transform: translate(0, -24px);
  }
  to {
    transform: translate(0, 16px);
  }
}

.page h2 span:nth-child(n+8) {
  content: "";
  animation: trans 4s cubic-bezier(0.91, 0.42, 0.18, 1);
}

.head__location {
  width: 100%;
  background: #eaeaea;
}

.explore {
  background: #fff9fd;
  padding-bottom: 1rem;
}
.explore p {
  padding-bottom: 1rem;
}
.explore__btn {
  padding: 1rem;
}
.explore__btn--discover {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
}
.explore__btn--discover:hover {
  background: linear-gradient(#fface8, #985ede);
  box-shadow: 0 5px 15px #b5b5b5;
}

.pieds {
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: #353535;
  color: white;
  padding: 20px;
}
.pieds h2 {
  font-family: "shrikhand", cursive;
  color: white;
}
.pieds a {
  text-decoration: none;
  color: white;
}
.pieds__resto {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.pieds__resto i {
  margin-right: 10px;
}

.page {
  background-color: black;
  color: white;
  font-size: 1rem;
  opacity: 0.95;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  animation: display 4s linear 0.3s forwards;
}
.page__bloc {
  width: 350px;
  position: absolute;
  /* postulat de départ */
  top: 50%;
  left: 50%;
  /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%);
  /* décalage de 50% de sa propre taille */
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
}
.page__bloc .loader, .page__bloc .loader2 {
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #99E2D0;
  border-bottom-color: #99E2D0;
}
.page__bloc .loader::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  opacity: 0.6;
  animation: spin2reverse 500ms linear infinite;
}
.page__bloc .loader2::after {
  position: absolute;
  content: "";
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  opacity: 0.6;
}
.page__bloc h2 {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 30px;
}
.page__bloc h2 span {
  font-size: 1.5rem;
}
.page__bloc--loader {
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
  animation: spin2 800ms linear infinite;
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin2reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.page:before {
  content: "";
  display: block;
}

.page:after {
  content: "";
  display: none;
}

@keyframes spin {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 20px);
  }
}
@keyframes display {
  from {
    display: block;
    visibility: visible;
  }
  to {
    display: none;
    visibility: hidden;
  }
}
.blocmenus {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  background: #f6f6f6;
  padding-bottom: 1.5rem;
}

.menus {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.menus h2, .menus__bloc--details {
  font-size: 1rem;
}
.menus h2 {
  border-bottom: 2px solid #99E2D0;
  width: 38px;
  margin-left: 1rem;
}
.menus__bloc {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  background: white;
  margin-top: 20px;
  border-radius: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.menus__bloc h3, .menus__bloc p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus__bloc span {
  margin-right: 10px;
}
.menus__bloc--details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head__logo {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.head__logo a {
  position: absolute;
  top: 45%;
  left: 1rem;
}

.ristos {
  width: 100%;
  background: #f6f6f6;
}
.ristos h1 {
  font-family: "shrikhand", cursive;
  padding-left: 1.5rem;
}
.ristos img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.ristos__titre {
  position: relative;
  bottom: 2rem;
  width: 100%;
  background: #f6f6f6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0 0 0.5rem;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
.ristos__titre .bloc_txt {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
}
.ristos__titre .bloc_txt--vide, .ristos__titre .bloc_txt--cache, .ristos__titre .bloc_txt--plein {
  position: absolute;
  bottom: -10px;
  right: 20px;
  width: 23px;
  height: 23px;
  font-size: 1.4em;
}
.ristos__titre .bloc_txt--vide {
  z-index: 400;
}
.ristos__titre .bloc_txt--cache {
  z-index: 300;
  background: white;
}
.ristos__titre .bloc_txt--plein {
  z-index: 200;
  background: -moz-linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  background: -webkit-linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  /* erreur dans css validator text n'est pas une valeur*/
  -webkit-text-fill-color: transparent;
}
.ristos__titre .bloc_txt .vide:hover + .cache {
  animation: monte 800ms linear 0s;
  animation-fill-mode: forwards;
}

.fonctionnement .nav {
  background: #fff9fd;
  cursor: pointer;
  box-shadow: 0 5px 15px #cecece;
}
.fonctionnement .nav__choice--number {
  background: #9356DC;
  border-radius: 50%;
  color: white;
}

.nav:hover {
  background: #ffdff6;
  box-shadow: 0 5px 15px #b5b5b5;
}

.nav:hover > .nav__choice > .nav__choice--icone i {
  color: #9356DC;
}

.restos {
  background: #fff9fd;
}
.restos__bloc--a {
  box-shadow: 0 5px 15px #cecece;
}
.restos__bloc--a:hover {
  transform: scale(1.01);
  box-shadow: 0 5px 15px #b5b5b5;
}
.restos__bloc--a .bloc__image--caption {
  background: white;
}

.head {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head__logo {
  width: 100%;
  padding: 1rem 1rem 0.2rem 1rem;
  border-bottom: 2px solid #d5d5d5;
  text-align: center;
}
.head__logo img {
  width: 155px;
}
.head__location {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.2rem 0 1rem 0;
}
.head__location--ville {
  width: 135px;
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.explore h1 {
  padding: 1.5rem 0 1rem 0;
}
.explore__btn--discover {
  padding: 0.9rem 1rem;
  border-radius: 50px;
  box-shadow: 0 5px 15px #cecece;
}

.fonctionnement {
  max-width: 100%;
  padding-bottom: 3rem;
}
.fonctionnement .Fbloc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 2rem;
  column-gap: 1rem;
  padding-top: 0.5rem;
  font-size: 1.1rem;
}
.fonctionnement h2 {
  width: 100%;
  padding: 1.5rem 0 0.5rem 1rem;
}
.fonctionnement .nav {
  list-style-type: none;
  border-radius: 30px;
}
.fonctionnement .nav__choice {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: start;
  padding: 1rem 0.5rem;
  margin: 0.5rem;
}
.fonctionnement .nav__choice--txt {
  padding-left: 15px;
}
.fonctionnement .nav__choice--number {
  position: absolute;
  width: 30px;
  padding: 5px;
  left: -1.2rem;
  text-align: center;
}
.fonctionnement .nav__choice--icone {
  padding-left: 1rem;
}

.restos {
  max-width: 100%;
  padding-bottom: 2rem;
}
.restos h2 {
  width: 100%;
  padding: 1.5rem 0 1rem 1rem;
}
.restos__bloc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  column-gap: 1rem;
}
.restos__bloc--a {
  position: relative;
  border-radius: 15px;
  z-index: 1;
}
.restos__bloc .bloc__image--img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center 60%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restos__bloc .bloc__image--caption {
  padding-left: 0.5rem;
  line-height: 28px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.restos__bloc .bloc__image--caption .bloc_txt {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
}
.restos__bloc .bloc__image--caption .bloc_txt--vide, .restos__bloc .bloc__image--caption .bloc_txt--cache, .restos__bloc .bloc__image--caption .bloc_txt--plein {
  position: absolute;
  bottom: 15px;
  right: 20px;
  width: 23px;
  height: 23px;
  font-size: 1.4em;
}
.restos__bloc .bloc__image--caption .bloc_txt--vide {
  z-index: 400;
}
.restos__bloc .bloc__image--caption .bloc_txt--cache {
  z-index: 300;
  background: white;
}
.restos__bloc .bloc__image--caption .bloc_txt--plein {
  z-index: 200;
  background: -moz-linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  background: -webkit-linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  /* erreur dans css validator text n'est pas une valeur*/
  -webkit-text-fill-color: transparent;
}
.restos__bloc .bloc__image--caption .bloc_txt .vide:hover + .cache {
  animation: monte 800ms linear 0s;
  animation-fill-mode: forwards;
}

@keyframes monte {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -21px);
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement .nav {
    width: 455px;
  }

  .restos__bloc {
    column-gap: 1rem;
    justify-content: space-around;
  }
  .restos__bloc--a {
    width: 335px;
  }

  .ristos h1 {
    padding-left: 2rem;
  }

  .menus {
    width: 430px;
  }
  .menus__blox {
    width: 400px;
  }
}
@media screen and (max-width: 1024px) {
  .fonctionnement .nav {
    width: 305px;
  }

  .restos__bloc {
    column-gap: 1rem;
    justify-content: space-around;
  }
  .restos__bloc--a {
    width: 445px;
  }

  .ristos h1 {
    padding-left: 0.5rem;
  }

  .menus {
    max-width: 31%;
  }
  .menus__bloc {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .fonctionnement .nav {
    width: 335px;
  }

  .restos__bloc {
    column-gap: 2.2rem;
  }
  .restos__bloc--a {
    width: 355px;
  }

  .ristos h1 {
    padding-left: 0.5rem;
  }

  .menus {
    width: 31%;
  }
  .menus__bloc {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .fonctionnement .nav {
    width: 385px;
  }

  .restos__bloc--a {
    width: 390px;
  }

  .ristos h1 {
    padding-left: 1rem;
  }

  .menus {
    max-width: 95%;
  }
  .menus__bloc {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .fonctionnement .nav {
    width: 335px;
  }

  .restos__bloc {
    column-gap: 2.5rem;
  }
  .restos__bloc--a {
    width: 335px;
  }
}
.ristos h1 {
  padding-left: 1rem;
}

.menus {
  max-width: 95%;
}
.menus__bloc {
  width: 100%;
}

@media screen and (max-width: 320px) {
  .fonctionnement .nav {
    width: 280px;
  }

  .restos__bloc--a {
    width: 295px;
  }

  .ristos h1 {
    padding-left: 0.5rem;
  }

  .menus {
    max-width: 95%;
  }
  .menus__bloc {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
