/********************* couleurs et texte******************************************
             primaire #9356DC secondaire #FF79DA tertiaire #99E2D0
                           Texte Roboto
**********************************************************************************/
@import url("https://fonts.cdnfonts.com/css/shrikhand");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.entete {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entete__logo {
  max-width: 200px;
  margin: 20px;
}

.entete__logo--img {
  width: 200px;
}

.entete__titre {
  font-family: "shrikand", courier;
  font-weight: bold;
}

.entete__lieu {
  width: -webkit-fill-available;
  background-color: #eaeaea;
  padding: 10px;
  border-top: 2px solid #d5d5d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entete__lieu--icone {
  margin: 0 5px 0 0;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  padding: 0 0 30px 0;
}

.search__h1 {
  font-weight: bold;
  padding: 20px 50px 10px 50px;
  margin: 0;
}

.search__p {
  margin: 0;
  padding: 0 30px 20px 30px;
}

.search__button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 20px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  border: none;
  -webkit-box-shadow: 0 5px 10px #d1d1d1;
          box-shadow: 0 5px 10px #d1d1d1;
  cursor: pointer;
}

.usage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}

.usage__titre {
  margin: 15px 0 0 10px;
}

.usage__bloc {
  width: 350px;
  text-decoration: none;
  color: black;
  position: relative;
  max-width: 285px;
  background-color: #f6f6f6;
  padding-left: 20px;
  margin: 0 10px 30px 20px;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px #e8e8e8;
          box-shadow: 0 5px 10px #e8e8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.usage__bloc:hover {
  background: #fff3fc;
  color: #9356DC;
}

.usage__bloc--texte:hover {
  color: black;
}

.usage__bloc--puces {
  position: absolute;
  left: -15px;
  padding: 10px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
}

.usage__bloc--icone {
  background: transparent;
  font-size: 2em;
}

.usage__bloc--texte {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 0 5px;
  padding: 30px 30px 30px 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.restos {
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.restos__titre {
  margin: 15px 0 30px 0;
}

.restos__bloc {
  width: 320px;
  height: 280px;
  overflow: hidden;
  position: relative;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 10px #d1d1d1;
          box-shadow: 0 5px 10px #d1d1d1;
  margin: 0 10px 20px 0;
}

.restos__bloc--image {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 60%;
     object-position: center 60%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

.restos__bloc--titre {
  margin: 5px 0 5px 10px;
  font-size: 1.2em;
}

.restos__bloc--nom {
  margin: 0 0 15px 10px;
}

.restos__bloc--icone, .restos__bloc--plein, .restos__bloc--cache {
  position: absolute;
  bottom: 35px;
  right: 35px;
  width: 23px;
  height: 23px;
  font-size: 1.4em;
}

.restos__bloc--icone {
  z-index: 400;
}

.restos__bloc--nom:hover > .restos__bloc--cache {
  -webkit-animation: monte 4s linear 0s;
          animation: monte 4s linear 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.restos__bloc--plein {
  z-index: 200;
  color: #9356DC;
}

.restos__bloc--cache {
  z-index: 300;
  background: white;
}

/*****************************test coeur**************************/
.test {
  position: relative;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0  auto;
}

.test .plain .plein {
  position: absolute;
  top: 2px;
  left: 1px;
  font-size: 1.3em;
  color: #9356DC;
  z-index: 200;
}

.test .cache {
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  background: white;
  z-index: 300;
}

.test .empty .vide {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5em;
  z-index: 400;
}

.test:hover > .cache {
  -webkit-animation: monte 4s linear 0s;
          animation: monte 4s linear 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes monte {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(0, -21px);
            transform: translate(0, -21px);
  }
}

@keyframes monte {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(0, -21px);
            transform: translate(0, -21px);
  }
}

/**********************fin test coeur*****************/
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1440px;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "entete entete" "search search" "usage usage" "restos restos";
  }
  .entete {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: entete;
  }
  .search {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: search;
  }
  .usage {
    max-width: 100%;
    margin-top: 20px;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: usage;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 30px 100px;
        grid-template-rows: 30px 100px;
        grid-template-areas: "titre titre titre" "shop menu degust";
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .titre {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: titre;
  }
  .shop {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: shop;
  }
  .menu {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: menu;
  }
  .degust {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: degust;
  }
  .restos {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: restos;
  }
  .restos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 50px 280px 280px;
        grid-template-rows: 50px 280px 280px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
        grid-template-areas: "title title" "palette note" "french sens";
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .restos__bloc {
    width: 90%;
    margin-left: 25px;
  }
  .title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: title;
  }
  .palette {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: palette;
  }
  .note {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: note;
  }
  .french {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: french;
  }
  .sens {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: sens;
  }
}
/*# sourceMappingURL=styles.css.map */