@charset "UTF-8";
/********************* couleurs et texte******************************************
             primaire #9356DC secondaire #FF79DA tertiaire #99E2D0
                           Texte Roboto
**********************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  width: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 100%;
}

.restos__bloc {
  box-shadow: 5px 10px 15px #d1d1d1;
}

.restos a:hover {
  box-shadow: 0 5px 10px black;
}

/* effet sur restos__bloc, chgt d'échelle au hover dans page index */
/* effet pulsar sur bouton principal */
/* effet pulsar sur bouton principal au hover avec arret du pulsar */
/* colorie graduellement le sélecteur ici, ce sera l'icone coeur plein de la page index avec accueil.css*/
/* Action de déplacer l'élément masquant le coeur plein vers le haut, donner effet de remplissage */
/* effet ombré sur le bouton  non utilisé*/
/* bouton principal style et animation le pulsar s'assombrit grace à l'appel include bgButton au hover, puis arret */
/* effet éclaircissement du bouton principal au hover */
.entete {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.entete h1 {
  display: none;
}
.entete__logo {
  max-width: 200px;
  margin: 20px;
}
.entete__logo--img {
  width: 200px;
}
.entete__titre {
  font-family: "shrikand", courier;
  font-weight: bold;
}
.entete__lieu {
  width: 100%;
  background-color: #eaeaea;
  padding: 10px;
  border-top: 2px solid #d5d5d5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.entete__lieu--icone {
  margin: 0 5px 0 0;
}

.heart {
  margin-right: 18px;
  font-size: 1.4em;
}
.heart .heart-vide {
  position: absolute;
  bottom: 25px;
  right: 35px;
  width: 23px;
  height: 23px;
  font-size: 1.2em;
}
.heart .heart-vide {
  z-index: 400;
}
.heart .heart-plein {
  position: absolute;
  bottom: 25px;
  right: 33px;
  width: 25px;
  height: 23px;
  font-size: 1.2em;
  z-index: 200;
  color: #FF79DA;
  /* linear gradient sur coeur plein mais erreur css validator */
}
.heart .heart-cache {
  position: absolute;
  bottom: 25px;
  right: 30px;
  width: 30px;
  height: 23px;
  font-size: 1.2em;
  z-index: 300;
  background: #f6f6f6;
}
.heart:hover > .heart-cache {
  animation: monte 800ms linear 0s;
  animation-fill-mode: forwards;
}

/* Progression heart */
@keyframes monte {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -21px);
  }
}
.menus .entrees__bloc--icone {
  position: absolute;
  right: -89px;
  opacity: 0;
  visibility: hidden;
  width: 90px;
  height: 102px;
  padding: 32px;
  font-size: 2em;
  background-color: #99E2D0;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: opacity 1s, visibility 1s, right 300ms ease-in;
}
.menus .entrees__bloc--titre:hover + .entrees__bloc--icone {
  position: relative;
  right: 0;
  visibility: visible;
  opacity: 1;
}
.menus .entrees__bloc:hover .icone {
  animation: icone 600ms linear 0.1s forwards;
}

.restos__bloc .new.active {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px 20px;
  background: #99E2D0;
  color: #1b6150;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 5px;
}

.restos__bloc .new.notactive {
  display: none;
}

.entete__logo {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.entete__logo a {
  position: absolute;
  top: 30%;
  left: 15px;
  font-size: 1.5em;
}

.french {
  background: #f6f6f6;
  padding-bottom: 10px;
}
.french__bg {
  position: relative;
  max-width: 100%;
}
.french__bg--top {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #f6f6f6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  padding: 20px 0 20px 0;
}
.french__bg--top h2 {
  font-family: "shrikhand", cursive;
  margin-left: 15px;
}
.french__bg img {
  width: 100%;
  height: 310px;
  object-fit: cover;
  object-position: center 60%;
}

.menus {
  width: 95%;
  margin: auto;
}
.menus .entrees {
  opacity: 0;
  animation: fadein 3s linear 1s forwards;
}
.menus .entrees h2 {
  width: 10%;
  border-bottom: 2px solid #99E2D0;
}
.menus .entrees__bloc {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: white;
  margin: 15px 5px;
  border-radius: 20px;
  box-shadow: 0 5px 15px #dddddd;
  overflow: hidden;
}
.menus .entrees__bloc--titre {
  width: 100%;
  padding: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.menus .entrees__bloc--titre h3, .menus .entrees__bloc--titre p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus .entrees__bloc--titre span {
  margin-right: 10px;
}
.menus .entrees__bloc--prix {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.menus .entrees__bloc--prix span {
  font-weight: bold;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes icone {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0);
  }
}
.container__button {
  text-align: center;
  padding: 20px 40px 40px 40px;
  background: #f6f6f6;
}
.container__button--order {
  width: 200px;
  box-shadow: 0 5px 15px #b5b5b5;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 20px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  border: none;
  cursor: pointer;
  animation: pulse 1.7s ease-in-out infinite;
}
.container__button--order:hover {
  /* pose probleme à w3c css validator */
  animation: pulseDarker 800ms ease-in;
}
.container__button--order:hover else {
  background: linear-gradient(#ff46cc, #9356DC);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 158, 74, 0.91), 0 0 0 0 rgba(255, 158, 74, 0.91);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(255, 158, 74, 0), 0 0 0 0 rgba(255, 158, 74, 0.91);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(255, 158, 74, 0), 0 0 0 30px rgba(255, 158, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 158, 74, 0), 0 0 0 30px rgba(255, 158, 74, 0);
  }
}
@keyframes pulseDarker {
  0% {
    box-shadow: 0 0 0 0 rgba(65, 40, 18, 0.91), 0 0 0 0 rgba(97, 60, 27, 0.91);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(155, 96, 45, 0), 0 0 0 0 rgba(114, 71, 33, 0.91);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(148, 92, 43, 0), 0 0 0 30px rgba(143, 88, 40, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(143, 89, 41, 0), 0 0 0 30px rgba(134, 84, 40, 0);
  }
}
@media screen and (min-width: 1024px) {
  .menus {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-around;
    align-items: center;
  }
  .menus .entrees {
    width: 380px;
  }
  .menus .entrees__bloc {
    width: 380px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .menus .entrees__bloc--titre {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 1024px) {
  .menus .entrees__bloc {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .menus .entrees__bloc {
    width: 100%;
  }

  .entrees__bloc.doublon {
    display: none;
  }
}
.pieds {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: #353535;
  color: white;
  padding: 20px;
}
.pieds h2 {
  font-family: "shrikhand", cursive;
  color: white;
}
.pieds a {
  text-decoration: none;
  color: white;
}
.pieds__resto {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.pieds__resto i {
  margin-right: 10px;
}

.page {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 1rem;
  opacity: 0.95;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  animation: display 3s linear 0.3s forwards;
}
.page__bloc {
  width: 350px;
  position: absolute;
  /* postulat de départ */
  top: 50%;
  left: 50%;
  /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%);
  /* décalage de 50% de sa propre taille */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.page__bloc h2 {
  height: 30px;
}
.page__bloc--loader {
  width: 180px;
  height: 180px;
  margin: 0;
  padding: 0;
}
.page__bloc--loader img {
  width: 180px;
  margin: 0;
  padding: 0;
}

.page:before {
  content: "";
  display: block;
}

.page:after {
  content: "";
  display: none;
}

@keyframes spin {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 20px);
  }
}
@keyframes display {
  from {
    display: block;
    visibility: visible;
  }
  to {
    display: none;
    visibility: hidden;
  }
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  padding: 0 0 30px 0;
}
.search__h1 {
  font-weight: bold;
  padding: 20px 50px 10px 50px;
  margin: 0;
}
.search__p {
  margin: 0;
  padding: 0 30px 20px 30px;
}
.search__button {
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 5px 15px #b5b5b5;
  padding: 20px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  animation: pulse 1.7s ease-in-out infinite;
}
.search__button:hover {
  /* pose problmeme w3c css validator */
  animation: pulseDarker 800ms ease-in;
}
.search__button:hover else {
  background: linear-gradient(#ff46cc, #9356DC);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 158, 74, 0.91), 0 0 0 0 rgba(255, 158, 74, 0.91);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(255, 158, 74, 0), 0 0 0 0 rgba(255, 158, 74, 0.91);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(255, 158, 74, 0), 0 0 0 30px rgba(255, 158, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 158, 74, 0), 0 0 0 30px rgba(255, 158, 74, 0);
  }
}
@keyframes pulseDarker {
  0% {
    box-shadow: 0 0 0 0 rgba(65, 40, 18, 0.91), 0 0 0 0 rgba(97, 60, 27, 0.91);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(155, 96, 45, 0), 0 0 0 0 rgba(114, 71, 33, 0.91);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(148, 92, 43, 0), 0 0 0 30px rgba(143, 88, 40, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(143, 89, 41, 0), 0 0 0 30px rgba(134, 84, 40, 0);
  }
}
.usage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 20px;
}
.usage__titre {
  width: 100%;
  margin: 15px 0 0 30px;
}
.usage__bloc {
  text-decoration: none;
  color: black;
  position: relative;
  width: 300px;
  background-color: #f6f6f6;
  padding-left: 30px;
  margin: 0 10px 30px 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 5px 10px #e8e8e8;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 10px;
}
.usage__bloc:hover {
  background: #fff3fc;
  color: #9356DC;
  transform: scale(1.05);
}
.usage__bloc--texte:hover {
  color: black;
}
.usage__bloc--puces {
  width: 40px;
  position: absolute;
  text-align: center;
  left: -25px;
  padding: 10px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
}
.usage__bloc--icone {
  background: transparent;
  font-size: 2em;
  margin: 0 0 0 5px;
}
.usage__bloc--texte {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 0 5px;
  padding: 30px 15px 30px 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.restos {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.restos a {
  text-decoration: none;
  color: black;
}
.restos a:hover {
  transform: scale(1.05);
  transition: hover 4s linear 1s;
}
.restos__titre {
  width: 100%;
  margin: 15px 0 30px 10px;
}
.restos__bloc {
  width: 310px;
  height: 280px;
  overflow: hidden;
  position: relative;
  background-color: white;
  border-radius: 15px;
  margin: 0 10px 20px 10px;
  /* gradient sur icone coeur */
}
.restos__bloc--image {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: center 60%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
.restos__bloc--titre {
  margin: 5px 0 5px 10px;
  font-size: 1.2em;
}
.restos__bloc--nom {
  margin: 0 0 15px 10px;
}
.restos__bloc--icone, .restos__bloc--plein, .restos__bloc--cache {
  position: absolute;
  bottom: 35px;
  right: 35px;
  width: 23px;
  height: 23px;
  font-size: 1.4em;
}
.restos__bloc--icone {
  z-index: 400;
}
.restos__bloc--icone:hover + .restos__bloc--cache {
  animation: monte 800ms linear 0s;
  animation-fill-mode: forwards;
}
.restos__bloc--plein {
  z-index: 200;
  background: -moz-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
  background: -webkit-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  /* erreur dans css validator text n'est pas une valeur*/
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restos__bloc--cache {
  z-index: 300;
  background: white;
}

/* Progression heart */
@keyframes monte {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -21px);
  }
}
/*********** loader test ***********/
/*********fin loader ******************/
@media screen and (min-width: 1440px) {
  .usage {
    justify-content: right;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    position: relative;
    max-width: 1440px;
    margin: auto;
  }

  .usage {
    max-width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 31%);
    grid-template-rows: 30px 150px;
    grid-template-areas: "titre titre titre" "shop menu degust";
    align-items: center;
  }

  .titre {
    grid-area: titre;
  }

  .shop {
    grid-area: shop;
  }

  .menu {
    grid-area: menu;
  }

  .degust {
    grid-area: degust;
  }

  .restos {
    grid-area: restos;
  }

  .restos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 280px 280px;
    grid-row-gap: 40px;
    grid-template-areas: "title title" "palette note" "french sens";
    justify-content: space-around;
    align-items: center;
  }
  .restos__bloc {
    width: 90%;
    margin-left: 25px;
  }

  .title {
    grid-area: title;
  }

  .palette {
    grid-area: palette;
  }

  .note {
    grid-area: note;
  }

  .french {
    grid-area: french;
  }

  .sens {
    grid-area: sens;
  }
}
@media screen and (max-width: 320px) {
  .usage__bloc {
    width: 275px;
    padding-left: 0;
  }

  .usage__bloc--icone {
    margin: 0 0 0 18px;
  }
}
.doublon {
  visibility: hidden;
}

/*# sourceMappingURL=style.css.map */
