@mixin heartGradient {
    background:-moz-linear-gradient(to top, $color-secondary 0%, $color-primary 100%); 
    background: -webkit-linear-gradient(to top, $color-secondary 0%,$color-primary 100%); 
    background: linear-gradient(to top, $color-secondary 0%, $color-primary 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    /* erreur dans css validator text n'est pas une valeur*/
    //background-clip: text;
    -webkit-text-fill-color:transparent;
}
/* effet éclaircissement du bouton principal au hover */
@mixin btnLightener($first: $color-primary, $second:$color-secondary){
    background: linear-gradient(lighten($second, 10%), lighten($first, 2%));
    box-shadow: 0 5px 15px darken(#cecece, 10%);
}
