/* effet sur restos__bloc, chgt d'échelle au hover dans page index */
@mixin scaler($size:1.05) {
    transform: scale($size);
}
/* effet pulsar sur bouton principal */
@mixin pulsar {
    @keyframes pulse{
        0%{
            box-shadow: 0 0 0 0 rgba(255,158,74,.91) , 0 0 0 0 rgba(255,158,74,.91);
        }
        40%{
            box-shadow: 0 0 0 50px rgba(255,158,74,0) , 0 0 0 0 rgba(255,158,74,.91);
        }
        80%{
            box-shadow: 0 0 0 50px rgba(255,158,74,0) , 0 0 0 30px rgba(255,158,74,0);
        }
        100%{
            box-shadow: 0 0 0 0 rgba(255,158,74,0) , 0 0 0 30px rgba(255,158,74,0);
        }
    }
}
/* effet pulsar sur bouton principal au hover avec arret du pulsar */

@mixin pulsarDarker {
    @keyframes pulseDarker{
        0%{
            box-shadow: 0 0 0 0 rgba(65, 40, 18, 0.91) , 0 0 0 0 rgba(97, 60, 27, 0.91);
        }
        40%{
            box-shadow: 0 0 0 50px rgba(155, 96, 45, 0) , 0 0 0 0 rgba(114, 71, 33, 0.91);
        }
        80%{
            box-shadow: 0 0 0 50px rgba(148, 92, 43, 0) , 0 0 0 30px rgba(143, 88, 40, 0);
        }
        100%{
            box-shadow: 0 0 0 0 rgba(143, 89, 41, 0) , 0 0 0 30px rgba(134, 84, 40, 0);
        }
    }
}
/* colorie graduellement le sélecteur ici, ce sera l'icone coeur plein de la page index avec accueil.css*/
@mixin igradient {
    //background:-moz-linear-gradient(top, $secondary 0%, $primary 100%); 
   // background: -webkit-linear-gradient(top, $secondary 0%,$primary 100%); 
    background: linear-gradient(to top, $secondary 0%, $primary 100%);
    //-webkit-background-clip: text;
    //-moz-background-clip: text;
    background-clip: text;
   // -webkit-text-fill-color:transparent;
}
/* Action de déplacer l'élément masquant le coeur plein vers le haut, donner effet de remplissage */
@mixin progressHeart {
    @keyframes monte {
        from{transform: translate(0,0);}
        to{transform: translate(0,-21px);}
    }
}
/* effet ombré sur le bouton  non utilisé*/
@mixin  boxShadowButton ($pxone:0px, $pxtwo:5px, $pxthree:15px, $couleur:grey){
    box-shadow: $pxone $pxtwo $pxthree $couleur;
}
/* bouton principal style et animation le pulsar s'assombrit grace à l'appel include bgButton au hover, puis arret */
@mixin mainButton{
    &__button{
        text-align: center;
        padding: 20px 40px 40px 40px;
        background: #f6f6f6;
        &--order{
            width: 200px;
            box-shadow: 0 5px 15px darken(#cecece, 10%);
            background: linear-gradient($secondary, $primary);
            padding: 20px;
            border-radius: 30px; 
            color: white; 
            font-weight: bold;
            font-size: 1.1em;
            border:  none;
            cursor: pointer;
            animation: pulse 1.7s ease-in-out infinite;
            &:hover{
                @include bgButton($secondary); 
                animation: pulseDarker 800ms ease-in;
                }
        } 
    }

}
/* effet éclaircissement du bouton principal au hover */
@mixin bgButton($couleur){
    @if(lightness($couleur) < 180) {
        background: linear-gradient(lighten($couleur, 10%), $primary);
      }else{
        background: darken($couleur, 2%), linear-gradient($secondary, $primary);
      }
    }