@media screen and (max-width:1024px){
.fonctionnement .nav {
    width: 305px;
}
    .restos__bloc{
        column-gap: 1rem;
        justify-content: space-around;
        &--a{
            width: 445px;
        }
    }
    .ristos h1 {
        padding-left: 0.5rem;
    }
    .menus{
        max-width: 31%;
        &__bloc{
            width: 100%;
        }
    }
}
