@media screen and (max-width:375px){
    .fonctionnement{
        width: 100%;
        .Fbloc{
            width: 100%;
            .nav {
                width: 91%;
            }
        }
    }
.restos__bloc{
    column-gap: 2.5rem;
    &--a{
        width: 91%;
        }
    }
}
.ristos h1 {
    padding-left: 1em;
}
.menus{
    max-width: 95%;
    &__bloc{
        width: 100%;
    }
}