@media screen and (max-width:320px){
.fonctionnement .nav {
    width: 280px;
    }
    .restos__bloc--a{
                width: 295px;
    }
    .ristos h1 {
        padding-left: 0.5rem;
    }
    .menus{
        max-width: 95%;
        &__bloc{
            width: 100%;
        }
    }
}