@media screen and (min-width:1024px){
.fonctionnement .nav {
    width: 455px;
}
    .restos__bloc{
        column-gap: 1rem;
        justify-content: space-around;
        &--a{
            width: 335px;
        }
    }

.ristos h1 {
        padding-left: 2rem;
    }
.menus{
        max-width:31%;
        &__blox{
            width: 100%;
        }
    }
}