@media screen and (min-width:768px){
    .fonctionnement .nav {
        width: 335px;
    }
    .restos__bloc{
        column-gap: 2.2rem;
        &--a{
            width: 355px;
            }
    }
    .ristos h1 {
        padding-left: 0.5rem;
    }
    .menus{
        width: 31%;
        &__bloc{
            width: 100%;
        }
    }
}