/********************* couleurs et texte******************************************
             primaire #9356DC secondaire #FF79DA tertiaire #99E2D0
                           Texte Roboto
**********************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
	margin: 0;
    position: relative;
    font-family: "Roboto", sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
a{
    text-decoration: none;
    color: black;
}
.global{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
    max-width: 1440px;
    margin:0 auto;
}
main{
    flex: 1;
}
