.entete{
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        h1{
            display: none;
        }
        &__logo{
        max-width: 200px;
        margin: 20px;
        &--img{
            width: 200px;
        }
    }
    &__titre{
        font-family: "shrikand", courier;
        font-weight: bold;
    } 
    &__lieu{
        width: 100%;
        width: -webkit-fill-available;
        background-color: #eaeaea;
        padding: 10px;
        border-top: 2px solid #d5d5d5;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &--icone{
            margin: 0 5px 0 0;
        }
    }
}