.entete{
   // position: relative;
    &__logo{
        width: 100%;
        display: flex;
        flex-direction: row;
        a{
            position: absolute;
            top: 30%;
            left: 15px;
            font-size: 1.5em;
        }
    }
} 
.french{
    background: #f6f6f6;
    padding-bottom: 10px;
    &__bg{
        position: relative;
        max-width: 100%;
        &--top{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #f6f6f6;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        padding: 20px 0 20px 0;
            h2{
                font-family: "shrikhand", cursive;
                margin-left: 15px;
            }
            .heart{
                margin-right: 18px;
                font-size: 1.4em;
                .heart-vide{
                    position: absolute;
                    bottom: 25px;
                    right: 35px;
                    width: 23px;
                    height: 23px;
                    font-size: 1.2em;
                }
                .heart-vide{
                    z-index: 400;
                }

                .heart-plein{
                    position: absolute;
                    bottom: 25px;
                    right: 33px;
                    width: 25px;
                    height: 23px;
                    font-size: 1.2em;
                    z-index: 200;
                    @include igradient;
                }
                .heart-cache{
                    position: absolute;
                    bottom: 25px;
                    right: 30px;
                    width: 30px;
                    height: 23px;
                    font-size: 1.2em;
                    z-index: 300;
                    background: #f6f6f6;
                }
                &:hover > .heart-cache{
                    animation: monte 800ms linear 0s;
                    animation-fill-mode: forwards;        
                }
            }
        }
        img{
            width: 100%;
            height: 310px;
            object-fit: cover;
            object-position: center 60%;
        }
    }
}
/* Progression heart */
@include progressHeart;
.menus{
    width: 95%;
    margin: auto;
    .entrees{
        opacity: 0;
            animation: fadein 3s linear 1s forwards;
        h2{
            width: 10%;
            border-bottom: 2px solid $ternary;
        }
        &__bloc{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            background: white;
            margin: 15px 5px;
            border-radius: 20px;
            box-shadow: 0 5px 15px darken(#f6f6f6, 10%);
            overflow: hidden;
           &--titre{
                width: 100%;
                padding: 30px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                cursor: pointer;
            h3, p{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                span{
                    margin-right: 10px;
                }
            }
            &--prix{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content:space-between;
                align-items: center;
                column-gap: 20px;
                span{
                    font-weight: bold;

                }
            }
            &--icone{
                position: absolute;
                right: -89px;
                opacity: 0;
                visibility: hidden;
                width: 90px;
                height: 102px;
                padding: 32px;
                font-size: 1.4em;
                background-color: $ternary;
                color: white;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                transition: opacity 1s, visibility 1s, right 300ms ease-in;
            }
            &--titre:hover + .entrees__bloc--icone{
                position: relative;
                right: 0;
                visibility: visible;
                opacity: 1;
            }            
            &:hover .icone{
                animation: icone 600ms linear 0.1s forwards;
            }
        }
    }
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes icone {
    from{transform: rotate(180deg);}
    to{transform: rotate(0);}
}

.container{
    @include mainButton;
}    
        @include pulsar;
        @include pulsarDarker;

@media screen and (min-width:1024px){
.menus{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-around;
    align-items: center;
    .entrees{
        width: 380px;
        &__bloc{
            width: 380px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
                &--titre{
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    
    }
}
@media screen and (max-width:1024px){
    .menus .entrees__bloc{
        width: 300px;
    }
}
@media screen and (max-width:768px){
    .menus .entrees__bloc{
        width: 100%;
    }
    .entrees__bloc.doublon{
        display: none;
    }
}
