.head{
    &__location{
        width: 100%;
        background: white;
    }
}
.explore{
        background: #f6f6f6 ;
        padding-bottom: 1rem;
    p{
        padding-bottom: 1rem;
    }
    &__btn{
        padding: 1rem;
        &--discover{
            background: linear-gradient($color-secondary, $color-primary);
            border: none;
            color: white;
            &:hover{
                @include btnLightener;
            }
        }
    }
}