.restos{
    background: #f6f6f6 ;
    &__bloc{
        &--a{
            box-shadow: 0 5px 15px #cecece;
            &:hover{
                transform: scale(1.01);
                box-shadow: 0 5px 15px darken(#cecece, 10%);
            }
            .bloc__image{
                &--caption{
                    background: white;
                }
            }
        }
    }
}