
.search{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #f6f6f6;
    padding: 0 0 30px 0;
    &__h1{
        font-weight: bold;
        padding: 1rem 3rem; 
        margin: 0;
    }
    &__p{
        margin: 0;
        padding: 0 1rem 1rem 1rem;
    }
    &__button{
        background: linear-gradient($secondary, $primary) ;
        box-shadow: 0 5px 15px #cecece;
        padding: 1.2rem;
        margin: 1.2rem 0;
        font-size: 16px;
        border-radius: 30px; 
        color: white; 
        font-weight: bold;
        border:  none;
        cursor: pointer;
        animation: pulse 1.7s ease-in-out infinite;
        &:hover{
            /* pose problmeme w3c css validator */
            @include bgButton; 
            //background: lighten($secondary, 1%);
            //animation: pulseDarker 800ms ease-in;
            box-shadow: 0 5px 15px darken(#cecece, 10%);
        }
    }
}
       /* @include pulsar;
        @include pulsarDarker;*/
.usage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 20px;
    &__titre{
        width: 100%;
        padding: 15px 0 0 10px;
    }
    &__bloc{
        text-decoration: none;
        color: black;
        position: relative;
        width: 300px;
        background-color: #f6f6f6;
        padding-left:30px ;
        margin: 0 10px 30px 20px;
        border: none;
        border-radius: 20px;
        box-shadow: 0 5px 10px #e8e8e8;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        justify-items: center;
        column-gap: 10px;
        &:hover{
            background: #fff3fc;
           // color: $primary;
           color:map-get($colour, primaire);
            @include scaler;
        }
        &--texte:hover{
            color: black;
        }
        &--puces{
            width: 40px;
            position: absolute;
            text-align: center;
            left: -25px;
            padding: 10px;
            background-color:map-get($colour, primaire);
            color: white;
            border-radius: 50%;
        }
        &--icone{
            background: transparent;
            font-size: 2em;
            margin: 0 0 0 5px;
         }
        &--texte{
            font-size: 1.1em;
            font-weight: bold;
            margin: 0 0 0 5px;
            padding: 30px 15px 30px 0;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
}
.restos{
    max-width: 100%;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding: 20px;
    transition: 3s linear;
    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        @include scaler;
        @extend %shadowDarker;
     }
    &__titre{
       width: 100%;
        padding: 15px 0 15px 20px;
    }
    &__bloc{
        width: 310px;
        height: 230px;
        overflow: hidden;
        position: relative;
        background-color: white;
        border-radius: 15px;
        @extend %shadowButton;
        margin: 0 10px 20px 10px;
        &--image{
            width: 100%;
            height: 150px;
            border-radius: 15px 15px 0 0;
            object-fit: cover;
            object-position: center 60%;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            border: none;
        }
        &--titre{
            width: 95%;
            margin: 5px 0 5px 10px;
            font-size: 1.2em;
        }
        &--nom{
            margin: 0 0 15px 10px;
        }
        &--icone, &--plein, &--cache{
            position: absolute;
            bottom: 35px;
            right: 20px;
            width: 23px;
            height: 23px;
            font-size: 1.4em;
        }
        &--icone{
            z-index: 400;
        }
        &--icone:hover + &--cache{
            animation: monte 800ms linear 0s;
            animation-fill-mode: forwards;        
        }
        /* gradient sur icone coeur */
        &--plein{
            z-index: 200;
            ///color: $secondary;
            @include igradient; 
        }
        &--cache{
            z-index: 300;
            background: white;
        }
    }
}
/* Progression heart */
@include progressHeart;

/*********** loader test ***********/

/*********fin loader ******************/
@media screen and (min-width:1440px){
    .usage{
        max-width: 100%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 31%);
        grid-template-rows: 30px 150px;
        grid-template-areas: 
        "titre titre titre"
        "shop menu degust";
        align-items: center;
        justify-items: center;
    }
    .titre{
        grid-area: titre;
    }
    .shop{
        grid-area: shop;
    }
    .menu{
        grid-area: menu;
    }
    .degust{
        grid-area: degust;
    }
    .restos{
        grid-area: restos;
    }
    .restos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 280px;
        //grid-row-gap: 40px;
        grid-template-areas: 
        "title title title title"
        "palette note french sens";
        justify-content: space-around;
        align-items: center;
        &__bloc{
            width: 90%;
            margin-left: 20px;
        }
    }
    .title{
        grid-area: title;
    }
    .palette{
        grid-area: palette;
    }
    .note{
        grid-area: note;
    }
    .french{
        grid-area: french;
    }
    .sens{
        grid-area: sens;
    }
}
@media screen and (min-width:1024px) and (max-width:1439px){
    .container{
        position: relative;
        max-width: 1440px;
        margin: auto;
    }
    .usage{
        max-width: 100%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 31%);
        grid-template-rows: 30px 150px;
        grid-template-areas: 
        "titre titre titre"
        "shop menu degust";
        align-items: center;
        justify-items: center;
    }
    .titre{
        grid-area: titre;
    }
    .shop{
        grid-area: shop;
    }
    .menu{
        grid-area: menu;
    }
    .degust{
        grid-area: degust;
    }
    .restos{
        grid-area: restos;
    }
    .restos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 280px 280px;
        //grid-row-gap: 40px;
        grid-template-areas: 
        "title title"
        "palette note "
        "french sens";
        justify-items: center;
        &__bloc{
            width: 90%;
        }
        .title{
            grid-area: title;
        }
        .palette{
            grid-area: palette;
        }
        .note{
            grid-area: note;
        }
        .french{
            grid-area: french;
        }
        .sens{
            grid-area: sens;
        }
    }
}
@media screen and (max-width:320px){
    .container, .pieds{
        max-width: 320px;
    }
    .restos__titre{
        padding-left: 10px;
    }
    .usage__bloc{
        width: 275px;
        padding-left: 0;
    }
    .usage__bloc--icone {
        margin: 0 0 0 18px;
    }
}