
/********************* couleurs et texte******************************************
             primaire #9356DC secondaire #FF79DA tertiaire #99E2D0
                           Texte Roboto
**********************************************************************************/
@import url('https://fonts.cdnfonts.com/css/shrikhand');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    position: relative;
    font-family: "Roboto", sans-serif;
} 
*{
    margin: 0;
    padding: 0; 
}
.search{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #f6f6f6;
    padding: 0 0 30px 0;
    &__h1{
        font-weight: bold;
        padding: 20px 50px 10px 50px; 
        margin: 0;
    }
    &__p{
        margin: 0;
        padding: 0 30px 20px 30px;
    }
    &__button{
        background: linear-gradient($secondary, $primary) ;
        box-shadow: 0 5px 15px darken(#cecece, 10%);
        padding: 20px;
        border-radius: 30px; 
        color: white; 
        font-weight: bold;
        border:  none;
        cursor: pointer;
        animation: pulse 1.7s ease-in-out infinite;
        &:hover{
            background: lighten($secondary, 0.5%); 
            animation: pulseDarker 800ms ease-in;
    }
    }
}
        @include pulsar;
        @include pulsarDarker;
.usage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 20px;
    &__titre{
        margin: 15px 0 0 10px;
    }
    &__bloc{
        text-decoration: none;
        color: black;
        position: relative;
        max-width: 300px;
        background-color: #f6f6f6;
        padding-left:30px ;
        margin: 0 10px 30px 20px;
        border: none;
        border-radius: 20px;
        box-shadow: 0 5px 10px #e8e8e8;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 10px;
        &:hover{
            background: #fff3fc;
            color: $primary;
            @include scaler;
        }
        &--texte:hover{
            color: black;
        }
        &--puces{
            width: 40px;
            position: absolute;
            text-align: center;
            left: -25px;
            padding: 10px;
            background-color: $primary;
            color: white;
            border-radius: 50%;
        }
        &--icone{
            background: transparent;
            font-size: 2em;
            margin: 0 0 0 5px;
         }
        &--texte{
            font-size: 1.1em;
            font-weight: bold;
            margin: 0 0 0 5px;
            padding: 30px 15px 30px 0;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
}
.restos{
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    a{
    text-decoration: none;
    color: black;
    }

    a:hover{
        @include scaler;
        @extend %shadowDarker;
    }
    &__titre{
        margin: 15px 0 30px 0;
    }
    &__bloc{
        width: 310px;
        height: 280px;
        overflow: hidden;
        position: relative;
        background-color: white;
        border-radius: 15px;
        @extend %shadowButton;
        margin: 0 10px 20px 0;
        &--image{
            width: 100%;
            height: 200px;
            border-radius: 15px 15px 0 0;
            object-fit: cover;
            object-position: center 60%;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            border: none;
        }
        &--titre{
            margin: 5px 0 5px 10px;
            font-size: 1.2em;
        }
        &--nom{
            margin: 0 0 15px 10px;
        }
        &--icone, &--plein, &--cache{
            position: absolute;
            bottom: 35px;
            right: 35px;
            width: 23px;
            height: 23px;
            font-size: 1.4em;
        }
        &--icone{
            z-index: 400;
        }
        &--nom:hover > &--cache{
            animation: monte 800ms linear 0s;
            animation-fill-mode: forwards;        
        }
        /* gradient sur icone coeur */
        &--plein{
            z-index: 200;
            @include igradient; 
        }
        &--cache{
            z-index: 300;
            background: white;
        }
    }
}
/* Progression heart */
@include progressHeart;

/*********** loader test ***********/

/*********fin loader ******************/

@media screen and (min-width:1024px) {
    .container{
        position: relative;
        max-width: 1440px;
        margin: auto;
    }
    .usage{
        max-width: 100%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 31%);
        grid-template-rows: 30px 150px;
        grid-template-areas: 
        "titre titre titre"
        "shop menu degust";
        justify-content: right;
        align-items: center;
    }
    .titre{
        grid-area: titre;
    }
    .shop{
        grid-area: shop;
    }
    .menu{
        grid-area: menu;
    }
    .degust{
        grid-area: degust;
    }
    .restos{
        grid-area: restos;
    }
    .restos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 280px 280px;
        grid-row-gap: 40px;
        grid-template-areas: 
        "title title"
        "palette note"
        "french sens";
        justify-content: space-around;
        align-items: center;
        &__bloc{
            width: 90%;
            margin-left: 25px;
        }
    }
    .title{
        grid-area: title;
    }
    .palette{
        grid-area: palette;
    }
    .note{
        grid-area: note;
    }
    .french{
        grid-area: french;
    }
    .sens{
        grid-area: sens;
    }
}