.page{
    width: 100%;
    background-color: black;
    color: white;
    font-size: 1rem;
    opacity: 0.95;
    position: fixed;
    top:0;left: 0;right:0;bottom: 0;
    z-index: 2000;
    animation: display 3s linear 0.3s forwards;
    &__bloc{
        width: 350px;
        position: absolute; /* postulat de départ */
        top: 50%; left: 50%; /* à 50%/50% du parent référent */
        transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        h2{
            height: 30px;
        }
        &--loader{
            width: 180px;
            height: 180px;
            margin: 0;
            padding: 0;
           // animation: spin 450ms linear infinite;
            img{
                width: 180px;
                margin: 0;
                padding: 0;
            }
        }

    }
}
.page:before{
    content: "";
    display: block;
}
.page:after{
    content: "";
    display: none;
}
@keyframes spin {
  0% { transform: translate(0,0); }
  100% { transform: translate(0, 20px); }
}

@keyframes display {
    from{
        display: block;
        visibility: visible;
    }
    to{
        display: none;
        visibility: hidden;
    }
}

